.wrapper{
    display: flex;
    flex-direction: column;
    gap:4px;
}
.input{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 172px;
    border-radius: 8px;
    padding:8px 8px 8px 16px;
    font-size: 16px;
    border:#B9B9B9 1px solid;
}